.unknownAddress {
  margin-top: calc(-1 * var(--space-2));
  padding: 20px 12px 4px;
  background-color: var(--color-background-main);
  color: var(--color-text-secondary);
  display: flex;
  gap: var(--space-1);
  width: 100%;
  border-radius: 6px;
}

.unknownAddress svg {
  height: auto;
}

.unknownAddress a {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}

.wrapper {
  position: relative;
  z-index: 1;
  background-color: var(--color-background-paper);
  border-radius: 6px;
}

.readOnly :global .MuiInputBase-input {
  visibility: hidden;
}

.readOnly :global .MuiSvgIcon-colorBorder {
  color: var(--color-primary-main);
}

.openButton svg {
  transition: transform 0.3s ease-in-out;
}

.rotated svg {
  transform: rotate(180deg);
}
