.chip {
  border-radius: var(--space-2);
  padding-left: 4px;
  padding-right: 4px;
}

.visibilityIcon {
  font-size: 16px !important;
  color: var(--color-border-main) !important;
}

.pendingLoopIcon {
  color: var(--color-info-dark) !important;
}

.queueButton {
  display: flex;
  gap: var(--space-1);
  align-items: center;
  padding: 0;
  border: 0;
  cursor: pointer;
  position: relative;
  z-index: 1;
  background: transparent;
}
