.container {
  height: var(--header-height);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  border-radius: 0 !important;
  background-color: var(--color-background-paper);
  padding-right: var(--space-2);
  border-bottom: 1px solid var(--color-background-main);
}

.element {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rightSideGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.element :global(.MuiBadge-standard) {
  font-size: 12px;
  width: 18px;
  height: 18px;
  min-width: 18px;
}

[data-theme='dark'] .element :global(.MuiBadge-standard) {
  background-color: var(--color-primary-main);
}

.menuButton,
.logo {
  flex: 1;
  border: none;
  align-items: flex-start;
}

.logoMobile {
  display: none;
  height: 20px !important;
}

.logoMobile svg {
  height: 20px;
}

.logo img,
.logo svg,
.logoMobile svg {
  width: auto;
  display: block;
  color: var(--color-logo-main);
}

.logo {
  padding: var(--space-1) var(--space-2);
}

.menuButton {
  display: none;
}

.networkSelector {
  border-right: none;
}

.connectWallet {
  flex-shrink: 0;
  margin-left: 6px;
}

@media (max-width: 899.95px) {
  .logo {
    display: none;
  }

  .logoMobile {
    display: flex;
    flex: 1;
    border: none;
    align-items: flex-start;
    margin-left: var(--space-2);
  }

  .menuButton {
    display: flex;
    flex: 0;
  }
}

@media (max-width: 599.95px) {
  .hideMobile {
    display: none;
  }
}
