.banner {
  position: relative;
  padding: var(--space-2) var(--space-8) var(--space-2) var(--space-2);
  background: linear-gradient(90deg, var(--color-secondary-light), var(--color-info-light));
  border: 0;
  border-radius: 12px;
  height: 100%;
}

.eurcvBanner {
  padding: 24px 16px;
  background: linear-gradient(90deg, var(--color-secondary-light) 0%, var(--color-info-light) 99.5%);
  border: 0;
  border-radius: 12px;
  cursor: default;
}

.eurcvStack {
  width: 100%;
}

.eurcvIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 75px;
  height: 74px;
}

.eurcvIconImage {
  width: 80px;
  height: 76px;
}

.eurcvContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
  flex-grow: 1;
}

.eurcvTextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 4px;
}

.eurcvTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.15px;
  color: var(--color-static-main);
}

.eurcvDescription {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.17px;
  color: var(--color-static-light);
}

.eurcvButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  margin-left: -8px;
  gap: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: var(--color-static-main);
  border-radius: 6px;
}

.eurcvButton:hover {
  background-color: rgba(18, 19, 18, 0.04);
}

.closeButton {
  color: var(--color-static-main);
  position: absolute;
  top: var(--space-2);
  right: var(--space-2);
}

.bannerImage,
.bannerText {
  pointer-events: none;
  user-select: none;
}

@media (max-width: 599.95px) {
  .banner {
    padding: var(--space-2);
  }
}
